* {
  box-sizing: border-box;
}
/* 아래는 전역변수 선언 */
:root {
  --card-box-shadow: 1px 8px 8px -5px #8f8f8f;
}
.App {
  position: relative;
  /*👾 vw vh와  %의 차이점은 스크롤바 사이즈 포함여부(전자는 포함, 후자는 미포함)입니다!
  100vw으로 주니 가로 스크롤바가 조금씩 생겨서 100vw에서 1%를 빼줬더니 사라졌습니당
  해당 설정으로 문제가 생기시면 알려주세용 -07 20 원희 수정-*/
  height: 100vh;
  width: 100vw - 1%;
  transition: all 0.5s ease-in-out;
}

/*video chat room  sidebar on/off 효과 */
.sidebar-enter {
  opacity: 0;
  margin-right: -600px;
}
.sidebar-enter-active {
  opacity: 1;
  margin-right: 0;
  transition: all 0.7s;
}
.sidebar-exit {
  opacity: 1;
  margin-right: 0;
}
.sidebar-exit-active {
  opacity: 0;
  margin-right: -600px;
  transition: all 0.7s;
}

/* video chat room header show/hide 효과 */

.header-enter {
  opacity: 0;
  margin-top: -67px;
}
.header-enter-active {
  opacity: 1;
  margin-top: 0;
  transition: all 0.7s;
}
.header-exit {
  opacity: 1;
  margin-top: 0;
}
.header-exit-active {
  opacity: 0;
  margin-top: -67px;
  transition: all 0.7s;
}
body {
  margin: 0 auto;
}
button {
  cursor: pointer;
  /* background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px; */
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  /* box-shadow: none; */
}
/* a태그 기본CSS 없애주기  */
a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
